body {
    padding: 7rem 15rem;
}

div#form {
    & * {
        margin: 1rem;
    }
    input#username {
        width: 20rem;
    }

    textarea {
        resize: none;
    }

    span {
        margin: 0;
        background-color: rgb(29, 29, 29);
        color: gainsboro;
    }
}

@media only screen and (max-width: 750px) {
    body {
        padding: 7rem 5rem;
    }
}
